.mobile-chat {
	height:auto!important;
  .message-list-box {
	/*#ifdef MP */
	margin-top: 44rpx
	/*#endif*/
	 //overflow-x auto;
    background #F5F5F5;
	.uni-list{
		background-color: #F5F5F5
	}
  }
  
  .chat-box-wrapper {
    display: flex;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #FFF;
	align-items: center;
	height: 44px;
	.bt-icon{
		padding-left: 20rpx
	}
	.bt-input{
		flex: 1
	}
	.bt-icon{
		padding-left: 20rpx
	}
	.bt-btn{
		padding-left: 10rpx
		padding-right: 20rpx
		button{
			font-size: 14px
		}
	}
  }


}

.mic-wrapper {
  display flex
  height 100vh
  justify-content flex-end
  align-items center
  flex-flow column
  padding-bottom: 500rpx
  image{
	  width: 200rpx
	  height 200rpx
  }
}
